// Breakpoint constants - single source of truth for responsive design
// These are exported as CSS custom properties and can be imported in TypeScript

:root {
  // Breakpoint values
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1140px;
}

// SCSS variables for use in media queries
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1140px;

// Mixins for consistent media queries across the app
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: calc($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: calc($breakpoint-tablet + 1px)) {
    @content;
  }
}

@mixin tablet-and-below {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
