.navigation {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0 0 2rem 0;
  background-color: #1a1a1a;
  width: 100%;

  &__item {
    flex: 1;
    border-radius: 0px !important;
    color: #ccc;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    background-color: #1a1a1a;

    &:hover {
      background-color: #333;
      color: #fff;
    }

    &--active {
      color: #fff;
      border-bottom-color: #4a9eff;
    }
  }
}
