.tooltip-toggle {
  background: none;
  border: none;
  padding: 0;
  margin-left: 8;
  cursor: "pointer";
  img {
    width: 30px;
    height: 30px;
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }
}
