#root {
  margin: auto;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#introduction {
  text-align: center;
  margin-bottom: 1rem;
}

#controls {
  display: flex;
  justify-content: center;
  input {
    padding: 0.5rem;
  }
  margin-bottom: 1rem;
}

#table {
  .table-header {
    .table-cell {
      padding: 0.5rem;
      font-weight: bold;
    }
  }
  .table-body {
    .table-cell {
      padding: 0.5rem;
      vertical-align: middle;
    }
  }
  .table-footer {
    .table-cell {
      padding: 0.5rem;
      font-weight: bold;
    }
  }
}

.items-table {
  .table-row {
    min-height: 120px;
  }
  .table-row:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.04);
  }
  .table-cell {
    border: 1px solid white;

    .cell-item {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-areas: "image name";

      &__name {
        grid-area: name;
        align-self: center;
      }
      &__image {
        grid-area: image;
        justify-self: center;
        width: 50px;
        height: 50px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // Recycles column
  .recycles-container {
    display: flex;
    flex-direction: column;
  }

  // Needed For column
  .needed-for-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .needed-for-total {
    font-weight: bold;
  }

  .needed-for-list {
    font-size: 0.9em;
    color: #666;
  }

  // Value column
  .value-container {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    padding: 12px;
  }

  .value-coin-icon {
    width: 18px;
    height: 18px;
    padding-top: 2px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.select-none {
  user-select: none;
}

.search-input {
  width: 300px;
  border: 1px solid #70a7e6;
  &--focused {
    box-shadow: 0 0 5px #70a7e6;
    border-color: #a3cdfa;
  }

  border-radius: 4px;
  display: flex;
  align-items: center;
  input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
}

a {
  color: #70a7e6;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  &:hover {
    color: #a3cdfa;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
